<%= render partial: 'shared/user', locals: { user: @user_info } %>

<div class="bio">
  <h3 class="bio-head">Bio: </h3>
  <div class="bio-desc"><%= @user_info.bio %></div>
</div>

<section class="posts">
  <%= render partial: 'shared/post_detail', collection: @posts, locals: {display_comments: false} %>
  <button>See all posts</button>
</section>
