<div class='user-details-container'>
  <div class='user-details'>
    <img src="<%= user.photo %>" alt="User Photo" />
    <div>
      <div><%= user.name %></div>
      <div>Number of posts: <%= user['post_counter'] == nil ? '0' : user['post_counter'] %></div>
    </div>
  </div>
</div>