<%= render partial: 'shared/flash'%>
<%= link_to 'New Post', new_post_path %>
<br>
<%= render partial: 'shared/user', locals: { user: @user } %>
<br>
<section class='posts'>
  <%= render partial: 'shared/post_detail', collection: @posts, locals: { display_comments: true } %>
  <button>Pagination</button>
</section>
