/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.post-form > div,
.comment-form > div {
  display: flex;
  justify-content: center;
}

.user-details,
.user-details > div {
  display: flex;
}

.user-details {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
}

.user-details > img {
  width: 150px;
}

.user-details > div {
  flex: 1;
  flex-direction: column;
  padding-left: 1rem;
}

.user-details > div > div {
  width: 100%;
}

.user-details > div > div:first-child {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.user-details-container {
  padding-top: 1rem;
}

.app {
  padding: 1rem 3rem;
}

.bio {
  padding: 1rem 0;
}

.bio-head {
  font-size: 2rem;
}

.bio-desc {
  font-size: 1.5rem;
}

.posts {
  display: flex;
  flex-direction: column;
}

.all-post-btn {
  align-self: center;
  padding: 4px;
  background-color: #343434;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;
}

.post {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 12px;
}

.post-number {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.post-detail {
  font-size: 1.3rem;
}

.likes-comments {
  text-align: end;
  padding-top: 0.5rem;
}

.comment {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

.comment-user {
  background-color: #343434;
  color: #fff;
  padding: 4px;
  border-radius: 8px;
  margin: 4px;
}

.post-head {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.post-body {
  font-size: 1.5rem;
  padding: 3rem 0;
}

.alert {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 12px;
}

.alert-success {
  background-color: aquamarine;
  border: 1px solid rgb(80, 167, 138);
}

.alert-danger {
  background-color: red;
  border: 1px solid rgb(167, 0, 0);
  color: #fff;
}

.new-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-post > h1 {
  text-align: center;
}

.post-form,
.comment-form {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-self: center;
}

.post-form > div *,
.comment-form > div *,
.comment-form > input[type='submit'],
.post-form > input[type='submit'],
.like-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.post-form > input[type='submit'],
.comment-form > input[type='submit'],
.like-btn {
  align-self: center;
  width: unset;
}

.like-btn {
  padding: 0.5rem 1rem;
  align-self: flex-end;
}

.new-like > form {
  display: flex;
  flex-direction: column;
}

/* .user-details > div > div:last-child {
  text-align: end;
} */

form.new_user,
.auth-link-options,
.auth-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid red;
  max-width: 300px;
  gap: 10px;
  padding: 10px 0;
}
